extends _bootstrap



append scripts
	script(src='js/cuestionario.js')
	//-script(src='js/prueba.js')
	//-link(href="css/sticky-footer.css" rel="stylesheet")
	script(type='text/javascript') 
		| var data =!{JSON.stringify(pr)}

append body
	.container-fluid(style="max-width:600px")
		.row
			img(src="/images/sublogo.jpg" class="img-responsive img-rounded" style="max-width: 100%; height=auto;")
		.row
			.col-xs-4
				span(style="font-size:100px;", class="text-primary") 
					strong K
			.col-xs-8
				blockquote(class="blockquote-reverse") 
					h3 #{titulo}
					h4 #{subtitulo}
					small #{quote}

		+acordeonMadre("madre")
			each pregunta, i in pr
				+acordeonHijo(pregunta, i, "madre")

		p(style="text-align: center;") 
			button(class="btn btn-primary", id="corregir") Corregir
			a(class="btn btn-primary", href="/", id="inicio") Inicio

		//-p(style="text-align: center;") 
			button(class="btn btn-primary", id="enviar") Enviar


		.modal.fade(id="mimodal", role="dialog")
			.modal-dialog
				.modal-content
					.modal-header
						button(type="button" class="close" data-dismiss="modal") &times;
						.modal-title AVISO:
					.modal-body 
						span(id="textomodal")
					.modal-footer
						.text-center
							button(type="button" class="btn btn-default btn-sm" data-dismiss="modal") Cerrar











