		.panel-group
			.panel.panel-default
				.panel-heading
					h4.panel-title
						a(data-toggle="collapse", href="#collapse1")
							| Explicaciones
				.panel-collapse.collapse(id="collapse1")
					.panel-body 
						Esto es el cuerpo
					.panel-footer
						Esto es el pie

1 / #{object.length}
#[.text.center hola]



					.row
						.col-xs-10 
							| Pregunta: #{Tpreg}
						.col-xs-2 
							#[.text-right #[+icon("pencil")]]


#[.text-right #[+icon("pencil", "p_#{i}_iconW")]]


$(document).ready(function(){
 

    $("button").click(function(){
        console.log("hace click");
        $("#hitem1").css("background-color", "yellow");       
    });
    $('input[type=radio][name=optradio]').change(function() {
		$("#mi_icono").attr("class", "glyphicon glyphicon-thumbs-down text-success");
    });
});



					<em>#[.text-right.text-muted #{object[0].nombre}, #{object[0].fecha}]</em>